node_modules
.env
backend/.env
frontend/.env
dist
build
.DS_Storenode_modules/
backend/node_modules/
frontend/node_modules/
frontend/.env.local
frontend/dist/
dist/
*.log
.DS_Store
node_modules/
.vercel/
